body {
  height: 600px;
}

.project-list-wrapper {
  height: 100%;
  overflow: auto;
}

.search-list {
  list-style-type: none;
}

.container-fluid {
  height: 100%;
}

.search-wrapper {
  height: 100%;
}

.project-attribute {
  margin-bottom: 0.25rem;
}